<% breadcrumb :products %>

<h1>Product#index</h1>

<!-- Filter  -->

<%= form_tag products_path, method: :get do %>
  <%= select_tag :filter, options_for_select(@categories, "category"), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<!-- Search -->

<%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a product"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<!-- product card -->
<div class ="container">
  <% @products.each do |product| %>
  <div class = "row">
    <div class="card-product col-sm-4">
      <%= image_tag "cat_rect.jpg", style: 'height:474px;width:296px;margin-bottom:20px;' %>
        <div class="card-product-infos">
          <div class ="card-product-name">
            <%= link_to product.name.upcase, product %>
          </div>
            <div class = "card-product-desc">
              <%= product.description %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
