 <% breadcrumb :products %>

  <h1>Product#index</h1>


  <!-- Filter  -->

  <%= form_tag products_path, method: :get do %>
    <%= select_tag :filter, options_for_select(@categories, "category"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>

  <!-- Search -->

  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a product"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<!-- product card -->
<div class ="container">
    <div class = "row">
      <% @products.each do |product| %>

          <div class="card-product col-sm-4">
            <%= link_to(product_path(product)) do %>

            <div class= "image-text-box" style='display: block; margin-left: auto; margin-right: auto; width: 100%;'>
               <%= image_tag "cat_rect.jpg", style: 'height:474px;width:296px;margin-bottom:20px;' %>

                <div class="card-product-infos" >
                  <div class ="card-product-name">
                    <hr style="border: 0.25px solid black;" />
                    <%= link_to product.name.upcase, product %>
                  </div>
                    <div class = "card-product-desc">
                      <%= product.description %>
                    </div>
                </div>
              </div>
          <% end %>
      </div>
  </div>
                     <
