<% breadcrumb :products %>

<h1>Product#index</h1>


<%= form_with url: products_path, method: :get do %>
  <%= select_tag :query, options_for_select(Product.all.map {|p| [ p.category ]}.uniq, "category"), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<!-- Search  -->

<%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a product"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<!-- Filter -->

<% @products.each do |product| %>
  <div>
    <%= link_to product.name, product %>
  </div>
<% end %>
